.modal-body h1 {
	margin: 0px;
	font-family: "FFMarkWeb";
	font-weight: 600;
	margin-bottom: 30px;
	/*color: black;*/
}

.modal-body p {
	font-family: "FFMarkWeb";
	font-weight: 300;
	/*color: #999;*/
	color: black;
	font-size: 150%;
}

.modal-body a {
	display: none
}

.modal-body td{
	font-family: "FFMarkWeb";
	font-weight: 300;
	/*color: #999;*/
	color: black;
	font-size: 150%;
}
.modal-body tr {
/*	border-bottom: 	grey;
	border-bottom-width: thin;
	border-bottom-style: solid;*/
}
.modal-body th {
	color: #8aaad9;
}
/*a svg g {
	fill: black;
}*/

/*#main-nav.scrolled .navbar-brand{
 color:#f05557;
 }*/

 #main-nav.scrolled a svg g {
  	fill: #8aaad9;
 }